<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title th:text="${title}"></title>

    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet">
  </head>

  <body class="bg-light">

    <div class="container">
      <div class="py-5 text-center">
        <a href="/client/clientList">Back to clients</a>
        <h2>Add Client</h2>
      </div>

      <div class="row">
        <div class="col-md-12 order-md-1">
          <form class="needs-validation" action="/client/addClient" th:object="${client}" method="POST" enctype="utf8">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">First name</label>
                <input type="text" class="form-control" th:field="*{firstname}" placeholder="John" />
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Last name</label>
                <input type="text" class="form-control" th:field="*{lastname}" placeholder="Smith" />
              </div>
            </div>

            <div class="mb-3">
              <label for="username">Username</label>
              <div class="input-group">
                <input type="text" class="form-control" th:field="*{username}" placeholder="Johnatan"/>
              </div>
            </div>

            <div class="mb-3">
              <label for="email">Email <span class="text-muted">(Optional)</span></label>
              <input type="email" class="form-control" th:field="*{email}" placeholder="you@example.com">

            </div>

            <div class="mb-3">
              <label for="address">Address</label>
              <input type="text" class="form-control" th:field="*{address}" placeholder="1234 Main St"/>
            </div>

            <div class="mb-3">
              <label for="country">Country</label>
                <select class="custom-select d-block w-100" th:field="*{countryId}">
                  <option value = "" disabled selected>Choose ...</option>
                  <option th:each="country : ${countries}" th:value="${country.id}" th:text="${country.name}"></option>
                </select>
            </div>
            <hr class="mb-4">
			
			<button class="btn btn-primary btn-lg btn-block" type="submit">Add Client</button>
          </form>
        </div>
      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2018 Company Name</p>
      </footer>
    </div>
  </body>
</html>
